# PaxOS-9 Clang Format Configuration
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Line length
ColumnLimit: 80

# Braces
BreakBeforeBraces: Attach

# Whitespaces & Format
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Line breaks
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
InsertNewlineAtEOF: true

# Pretty parameters & arguments
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: true
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
IndentWrappedFunctionNames: true
ContinuationIndentWidth: 4
BreakBeforeBinaryOperators: None
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: BinPack

# Pointers & References
PointerAlignment: Left
ReferenceAlignment: Left

# Headers
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Comments
# noinspection YAMLSchemaValidation
ReflowComments: true

# C++
Standard: c++20
Cpp11BracedListStyle: true
FixNamespaceComments: true
